<%= twitter_bootstrap_form_for @customer, layout: :horizontal, html: { class: 'clear-passwords number-to-percentage form-horizontal'} do |f| %>

<% if current_user.admin? %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingDevices">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#devicesListing" aria-expanded="false" aria-controls="devicesListing">
            Activer les terminaux
          </a>
        </h4>
      </div>
      <div id="devicesListing" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDevices">
        <div class="panel-body">
          <div class="row">
              <% @customer.device.devices_list.each do |device| %>
                <% name = 'customer[devices]['+ device[:device] +'][enable]' %>
                <% label_name = t(device[:translate][:admin_customer][:enable]) %>
                <div class="col-md-2">
                  <div class="text-center btn-device">
                    <img src="<%= device[:image_url] %>" title="<%= device[:label] %>" alt="<%= device[:label] %> Logo" /><br/>
                    <%= label_tag name, label_name %> <br />
                    <%= f.check_box_tag name, false , true, style: "display:none;" %>
                    <%= f.check_box_tag name , true, to_bool(@customer.device_json_value(device[:device], :enable)) %>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Configurer les terminaux</h3>
  </div>

  <div class="panel-body">

    <div class="row">

      <div class="col-xs-3">
        <ul class="nav nav-tabs tabs-left">
        <% is_expanded = true  %>
        <% @customer.device.devices_list.each do |device| %>
          <% if to_bool(@customer.device_json_value(device[:device], :enable)) %>
            <li class="<%= is_expanded == true ? 'active' : '' %>">
              <a href="#<%= device[:device] %>" data-toggle="tab" id="nav-tabs-device-<%= device[:device] %>" class="nav-tabs-device">
                <%= t '.' + device[:device], :default => device[:device].capitalize %>
              </a>
            </li>
            <% is_expanded = false  %>
          <% end %>
        <% end %>
        </ul>
      </div>

      <div class="col-xs-9">

        <div class="tab-content">
        <% is_expanded = true  %>
        <% @customer.device.devices_list.each do |device| %>
        
          <% if to_bool(@customer.device_json_value(device[:device], :enable)) %>
          <div class="tab-pane <%= is_expanded == true ? 'active' : '' %>" id="<%= device[:device] %>">
            <div id="<%= device[:device] %>_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.' + device[:device], :default => device[:device].capitalize %>
              </div>

              <div class="panel-body">

                <% if device[:translate][:admin_customer].key?(:help) %>
                <p class="help-block"><%= t device[:translate][:admin_customer][:help] %></p>
                <% end %>

                <div class="col-md-12">
                  <%= @customer.device.render_form(device, :admin_customer, 'customer[devices]['+ device[:device] +']', f, @customer) %>

                  <% if device[:has_sync] %>
                  <div class="btn btn-default btn-sm <%= device[:device] %>-api-sync" disabled="disabled">
                    <i class="fa fa-bolt fa-fw"></i>
                    <%= t device[:translate][:admin_customer][:sync] %>
                  </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
          <% is_expanded = false  %>
          <% end %>
          
        <% end %>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="pull-right">
  <%= f.submit t('customers.form.devices.submit') %>
</div>

<% end %>
