<div class="row">

  <div class="col-md-12 clearfix">
    <h3>Configurer les terminaux</h3>
  </div>

  <div class="col-xs-3">
    <ul class="nav nav-tabs tabs-left">
      <% if @customer.enable_tomtom? %>
      <li class="active"><a href="#tomtom" data-toggle="tab"><%= t '.tomtom' %></a></li>
      <% end %>
      <% if @customer.enable_teksat? %>
      <li><a href="#teksat" data-toggle="tab"><%= t '.teksat' %></a></li>
      <% end %>
      <% if @customer.enable_orange? %>
      <li><a href="#orange" data-toggle="tab"><%= t '.orange' %></a></li>
      <% end %>
      <% if @customer.enable_masternaut? %>
      <li><a href="#masternaut" data-toggle="tab"><%= t '.masternaut' %></a></li>
      <% end %>
      <% if @customer.enable_alyacom? %>
      <li><a href="#alyacom" data-toggle="tab"><%= t '.alyacom' %></a></li>
      <% end %>
    </ul>
  </div>


  <div class="col-xs-9">

      <div class="tab-content">

        <div class="tab-pane active" id="tomtom">
          <% if @customer.enable_tomtom? %>
            <div id="tomtom_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.tomtom' %>
              </div>
              <div class="panel-body">
                <p class="help-block"><%= t '.tomtom_help' %></p>
                <div class="col-md-10">
                  <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
                  <input style="display:none" type="text" name="customer[tomtom_account]" />
                  <input style="display:none" type="text" name="customer[tomtom_user]" />
                  <input style="display:none" type="password" name="customer[tomtom_password]" />

                  <%= f.text_field :tomtom_account, autocomplete: "off" %>
                  <%= f.text_field :tomtom_user, autocomplete: "off" %>
                  <%= f.password_field :tomtom_password, value: nil, autocomplete: "off", class: "form-control" %>

                  <div class="btn btn-default btn-sm tomtom-api-sync" disabled="disabled">
                    <i class="fa fa-bolt fa-fw"></i>
                    <%= t "customers.form.sync.tomtom.action" %>
                  </div>
                </div>
                <div class="pull-right col-md-2">
                  <%= fa_icon "check 4x", style: "color:green;", class: "hidden", id: "tomtom_success" %>
                  <%= fa_icon "close 4x", style: "color:red;", class: "hidden", id: "tomtom_not_found" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="teksat">
          <% if @customer.enable_teksat? %>
            <div id="teksat_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.teksat' %>
              </div>
              <div class="panel-body">
                <p class="help-block"><%= t '.teksat_help' %></p>
                <div class="col-md-10">

                  <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
                  <input style="display:none" type="text" name="customer[teksat_customer_id]" />
                  <input style="display:none" type="text" name="customer[teksat_url]" />
                  <input style="display:none" type="text" name="customer[teksat_username]" />
                  <input style="display:none" type="password" name="customer[teksat_password]" />

                  <%= f.text_field :teksat_customer_id, autocomplete: "off" %>
                  <%= f.text_field :teksat_url, autocomplete: "off", placeholder: "www.gpsXX.teksat.fr" %>
                  <%= f.text_field :teksat_username, autocomplete: "off" %>
                  <%= f.password_field :teksat_password, value: nil, autocomplete: "off", class: "form-control" %>

                  <div class="btn btn-default btn-sm teksat-api-sync" disabled="disabled">
                    <i class="fa fa-bolt fa-fw"></i>
                    <%= t "customers.form.sync.teksat.action" %>
                  </div>
                </div>
                <div class="pull-right col-md-2">
                  <%= fa_icon "check 4x", style: "color:green;", class: "hidden", id: "teksat_success" %>
                  <%= fa_icon "close 4x", style: "color:red;", class: "hidden", id: "teksat_not_found" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="orange">
          <% if @customer.enable_orange? %>
            <div id="orange_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.orange' %>
              </div>
              <div class="panel-body">
                <p class="help-block"><%= t '.orange_help' %></p>
                <div class="col-md-10">
                  <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
                  <input style="display:none" type="text" name="customer[orange_user]" />
                  <input style="display:none" type="password" name="customer[orange_password]" />

                  <%= f.text_field :orange_user, autocomplete: "off" %>
                  <%= f.password_field :orange_password, value: nil, autocomplete: "off", class: "form-control" %>

                  <div class="btn btn-default btn-sm orange-api-sync" disabled="disabled">
                    <i class="fa fa-bolt fa-fw"></i>
                    <%= t "customers.form.sync.orange.action" %>
                  </div>
                </div>
                <div class="pull-right col-md-2">
                  <%= fa_icon "check 4x", style: "color:green;", class: "hidden", id: "orange_success" %>
                  <%= fa_icon "close 4x", style: "color:red;", class: "hidden", id: "orange_not_found" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="masternaut">
          <% if @customer.enable_masternaut? %>
            <div id="masternaut_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.masternaut' %>
              </div>
              <div class="panel-body">
                <p class="help-block"><%= t '.masternaut_help' %></p>
                <%= f.text_field :masternaut_user, autocomplete: "off" %>
                <%= f.password_field :masternaut_password, value: f.object.masternaut_password, autocomplete: "off", class: "form-control" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="tab-pane" id="alyacom">
          <% if @customer.enable_alyacom? %>
            <div id="alyacom_container" class="panel panel-default">
              <div class="panel-heading">
                <%= t '.alyacom' %>
              </div>
              <div class="panel-body">
                <p class="help-block"><%= t '.alyacom_help' %></p>
                <div class="col-md-10">
                  <!-- http://stackoverflow.com/questions/15738259/disabling-chrome-autofill -->
                  <input style="display:none" type="text" name="customer[alyacom_association]" />
                  <input style="display:none" type="text" name="customer[alyacom_api_key]" />

                  <%= f.text_field :alyacom_association, autocomplete: "off" %>
                  <%= f.text_field :alyacom_api_key, autocomplete: "off" %>
                </div>
                <div class="pull-right col-md-2">
                  <%= fa_icon "check 4x", style: "color:green;", class: "hidden", id: "alyacom_success" %>
                  <%= fa_icon "close 4x", style: "color:red;", class: "hidden", id: "alyacom_not_found" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>     

      </div>

      <div class="pull-right">
        <%= f.actions do %>
          <%= f.submit t('.submit') %>
        <% end %>
      </div>

  </div>

</div>
<% end %>
